html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(
    45deg,
    hsl(180deg 87% 94%) 0%,
    hsl(180deg 79% 92%) 9%,
    hsl(182deg 75% 91%) 18%,
    hsl(184deg 71% 89%) 27%,
    hsl(185deg 67% 87%) 36%,
    hsl(186deg 65% 84%) 45%,
    hsl(186deg 63% 82%) 55%,
    hsl(186deg 61% 79%) 64%,
    hsl(185deg 58% 75%) 73%,
    hsl(184deg 55% 71%) 82%,
    hsl(183deg 51% 67%) 91%,
    hsl(183deg 49% 63%) 100%
  );

}

a {
  color: inherit;
  text-decoration: none;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0rem 2rem 0rem 2rem;
}

.navbar {
  display: flex;
  gap: 4rem;
  font-size: larger;
  list-style-type: none;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.logo {
  justify-self: center;
  align-self: center;
  font-size: xx-large;
}

.navItem {}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
