.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_img {
  border: 1rem solid #fff;
  border-radius: 100rem;
  width: 20rem;
  height: 20rem;
}